<nav class="sidebar" sidebar-directive></nav>

<!-- image blocks -->
<div class="main">
	<div class="content">
		<div class="adItemContainer container">
			<nav class="searchContainer"></nav>

			<div class="row">
				<div class="col-md-12" ng-init="adListCtrl.init()">
					<div class="adList" ng-repeat="content in adListCtrl.content">
						<ul>
							<li><a ui-sref="adDetail({contentID: content.content_id})" ui-sref-opts="{reload: true}">{{content.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
