/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Jellis';
  src: url("http://localhost:3000/api/assets/agentAssets/Jellis/font.ttf") format("truetype");
}
@font-face {
  font-family: 'Chisholm';
  src: url("http://localhost:3000/api/assets/agentAssets/Chisholm/font.ttf") format("truetype");
}
.adItemRow {
  box-sizing: border-box;
}

.adItemRow.ng-move,
.adItemRow.ng-enter {
  /*transition:all linear 0.5s;*/
  animation: fadeIn .2s ease-in;
}

.adItemRow.ng-leave {
  animation: slideOutLeft .2s;
  transition: max-height .2s ease-out, opacity .2s ease-out;
}

.adItemRow.ng-leave.ng-leave-active,
.adItemRow.ng-enter {
  opacity: 0;
  max-height: 0px;
}

.adItemRow.ng-leave,
.adItemRow.ng-move.ng-move-active,
.adItemRow.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 300px;
}

/*@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}*/
.dropzone {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
  text-align: center;
  border: 2px #000 dashed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  margin: 20px auto;
}

.dropzone .dz-message {
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -50%;
}

.dz-drag-hover {
  border: 2px #000 solid;
}
.dz-drag-hover span {
  color: gray;
}

.dz-started {
  min-height: 200px;
  height: auto;
}
.dz-started .dz-message {
  display: none;
}

.dz-preview {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  position: relative;
}

.dz-preview:hover .dz-filename,
.dz-preview:hover .dz-size {
  opacity: 100;
}

.dz-details {
  min-width: 100%;
  min-height: 100%;
  text-align: left;
  float: left;
}
.dz-details img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.dz-details img:hover {
  opacity: 0.7;
}

.dz-filename,
.dz-size {
  position: absolute;
  width: 70px;
  overflow: hidden;
  z-index: 50;
  left: 50%;
  background: #fff;
  margin-left: -35px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -ms-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

.dz-filename {
  top: 35%;
}

.dz-filename:hover {
  overflow: visible;
  width: 100%;
}

.dz-size {
  top: 60%;
}

.dz-success-mark,
.dz-error-mark {
  display: none;
}

.adItemIndex {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  width: 48px;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  margin-top: -12px;
}

.adItemImageContainer {
  position: relative;
  display: block;
  clear: both;
  width: 400px;
  min-height: 269px;
  max-height: 300px;
  z-index: 1;
  moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: scale(0.2, 0.2);
  -o-transform: scale(0.2, 0.2);
  -ms-transform: scale(0.2, 0.2);
  -webkit-transform: scale(0.2, 0.2);
  transform: scale(0.2, 0.2);
}

.adItemImages {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 400px;
  height: 300px;
  margin-left: 12px;
  top: 50%;
  margin-top: -30px;
}

.adItemPhotos {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 269px;
}

.adItemBanner,
.adItemBottom,
.adItemLogo {
  position: absolute;
  z-index: 2;
}

.adItemBed,
.adItemBath,
.adItemCar {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.adItemImage,
.adItemInputs {
  margin-bottom: 20px;
}

.adItemInputs {
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 2px #dddee2;
  -moz-box-shadow: -2px 2px 2px #dddee2;
  box-shadow: -2px 2px 2px #dddee2;
}

.adItemInputs {
  display: block;
  position: relative;
  padding: 10px;
}

.adItemImage p {
  position: absolute;
  z-index: 4;
}

.adItemBottom {
  bottom: 0;
}

.adItemRow {
  position: relative;
  display: block;
  height: 100px;
  margin: 0;
  border-bottom: 0.5px solid #b3b9bc;
  /*border-top: .5px solid darken(#d5d8da, 12.5%);*/
  border-left: 1px solid #b3b9bc;
  border-right: 1px solid #b3b9bc;
  background-color: #fff;
}

.ui-sortable-helper {
  border-top: 0.5px solid #b3b9bc;
}

.adItemRow:first-child {
  border-top: 1px solid #b3b9bc;
}

.adItemRow:last-child {
  border-bottom: 1px solid #b3b9bc;
}

.adItemWrapper {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  clear: both;
  padding-left: 48px;
}
.adItemWrapper .close {
  z-index: 4;
  padding: 0;
  margin: 0;
  line-height: 35px;
  right: 8px;
  font-size: 35px;
  opacity: 1;
  position: absolute;
}
.adItemWrapper .close:hover {
  opacity: .5;
}

/*.adItemWrapper:hover .adItemImageContainer{
	@include transform(none);
	@include transition(transform .1s ease-out .1s);
	@include transform-origin(center center);
	z-index: 99;
	top: -142.5px;
	left: -200px;
}

.adItemImageContainer{
	@include transform-origin(top left);
	@include transform(scale(.2, .2));
}*/
.sidebar {
  height: 100%;
  width: 230px;
  display: block;
  position: fixed;
  background: red;
}

@font-face {
  font-family: 'Jellis';
  src: url("http://localhost:3000/api/assets/agentAssets/Jellis/font.ttf") format("truetype");
}
@font-face {
  font-family: 'Chisholm';
  src: url("http://localhost:3000/api/assets/agentAssets/Chisholm/font.ttf") format("truetype");
}
body {
  background-color: #edeef2;
  /*background-color: black;*/
}

.searchContainer {
  text-align: center;
  display: block;
  margin: 0 0 30px 0;
}

.searchContainer button {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #3a9dc6;
  color: #fff;
  outline: none;
  border: none;
}

.searchContainer button:selected {
  background-color: #376280;
}

.searchContainer input {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border-radius: 35px;
  background-color: #fff;
  border: none;
  outline: none;
}
